body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.marker-div {
  margin-bottom: 2rem;
  padding: 0.5rem;
  width: fit-content;
  height: fit-content;
  background-color: white;
  opacity: 0.8;
  border-radius: 5px;
  text-transform: capitalize;
}

.marker-span {
  white-space: pre;
  display: inline;
  font-size: 12px;
  display: block;
  color: #1890ff;
}
